.sellstrom-wrapper { clear: both; margin: 0px auto; overflow: hidden; width: 1024px; }
a.sellstrom-logo { display: inline-block; float: left; margin: 0px 65px 0px 20px; }

p.sellstrom-intro { color: #205288; font-size: 28px; line-height: 30px; margin: 40px 20px 0px 0px; padding-bottom: 3px; overflow: hidden; }
p.sellstrom-intro a { background-color: #205288; color: #FFF; float: right; font-size: 14px; font-weight: bold; height: 30px; line-height: 29px; padding: 0px 18px; text-shadow: -1px 1px #002838; text-decoration: none; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
p.sellstrom-intro a:hover { background-color: #72D4EA; color: #FFF; text-decoration: none; }
p.sellstrom-intro-star { color: #205288; font-size: 28px; line-height: 30px; margin: 0px 20px 0px 0px; padding-bottom: 3px; overflow: hidden; }
.sellstrom-content { clear: both; margin: 12px 0px; padding: 25px 0px 0px 0px; position: relative; overflow: hidden;  }
.sellstrom-content p { color: #808080; font-size: 13px; line-height: 18px; margin-bottom: 15px; }
.sellstrom-content h3 { color: #205288; font-size: 18px; font-weight: normal; line-height: 20px; letter-spacing: 1px; margin: 0px 0px 10px 0px; }
.sellstrom-content ul { list-style: none; margin: 0px 0px 20px 0px; padding: 0px; }
.sellstrom-content ul li { background: url(views/img/bullet.gif) left 7px no-repeat; color: #444; font-size: 15px; line-height: 20px; margin: 0px; padding: 0px 0px 0px 13px; }
.sellstrom-leftCol {  margin: 0px 0px 0px 375px; overflow: hidden; }
.sellstrom-video { background-color: #FEFEFE; border: #205288 solid 1px; float: left; margin: 0px; padding: 6px; overflow: hidden; text-align: center; width: 335px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.sellstrom-leftCol p { color: #444; font-size: 15px; line-height: 20px; margin-top: 0px; }
.sellstrom-content-left { clear: both; margin-bottom: 15px; padding: 0px 0px 0px 0px; position: relative; overflow: hidden;  }
.sellstrom-content-left p { color: #444; font-size: 15px; line-height: 20px; margin-top: 0px; }

.halfCol { width: 48%; }
.floatLeft { float: left; }
.floatRight { float: right; }

img.carriers-logos { display: block; margin: 0px 0px 0px 0px; }
a.sellstrom-link { color: #205288; display: block; font-size: 18px; font-weight: bold; height: 50px; line-height: 50px; text-decoration: none; text-shadow: -1px 1px #FFF; }
a.sellstrom-link:hover { background-color: #72D4EA; color: #FFF; text-decoration: none; text-shadow: -1px 1px #002838; }

a.sellstrom-video-btn { display: block; height: 210px; margin-bottom: 6px; position: relative; width: 335px; }
img.video-icon { position: absolute; left: 134px; top: 70px; }

fieldset h4 { margin-top: 0px; }
fieldset label { clear: left; }
fieldset.floatLeft { float: left; }
fieldset.floatRight { float: right; }
fieldset.clearBoth { clear: both; }
fieldset.twoCol {  margin-bottom: 10px; min-height: 247px; width: 46.5%;}
fieldset.floatRight .margin-form { padding-left: 180px;}
fieldset.floatRight label { display: inline-block; float: none; padding-top: 0; padding-right: 10px; width: 170px; }
fieldset.floatRight p { color: #7F7F7F; }
fieldset .sellstrom-link-ext { color: #268CCD; font-size: 12px; text-decoration: underline; }
fieldset .sellstrom-link-ext:hover, .sellstrom-link-ext:active { color: #268CCD; text-decoration: none; }

#allow_negative { padding-top: 3px; }

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
    border-radius:5px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i { 
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}
.watermarked {
    color: #aaaaaa;
}
